.header {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 999;
}

.header form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-header {
  left: -15px;
  position: fixed;
  top: -15px;
  width: 100px;
  z-index: 1000;
}

.header-info {
  align-items: center;
  background-color: #f6635c;
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.2);
  color: #ffba86;
  display: flex;
  justify-content: space-around;
  min-height: 60px;
  width: 100vw;
}

.header-info button {
  background: none;
  border: none;
}

.header-info h2 {
  padding-left: 70px;
}

.search-input form button {
  background: var(--beige);
  border: 1px solid #f6635c;
  border-radius: 5px;
  color: white;
  font-style: normal;
  font-weight: 600;
  height: 30px;
  letter-spacing: 1px;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 230px;
}

.header label {
  padding: 5px;
}

.custom-radio input {
  display: none;
}

.input-text {
  border: 1.5px solid gray;
  border-radius: 5px 5px 0 0;
  height: 25px;
  padding: 10px;
  width: 280px;
}

.custom-radio input + label:before {
  background-color: white;
  border: 1px solid gray;
  border-radius: 50%;
  content: '';
  display: inline-block;
  height: 16px;
  margin: 0 3px 3px 8px;
  vertical-align: middle;
  width: 16px;
}

.custom-radio input:checked + label:before {
  background-color: white;
  border: 5px solid var(--maroon);
  box-sizing: border-box;
  padding: 4px;
}

.inputs-search {
  align-items: center;
  background-color: #c23373;
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  padding-bottom: 15px;
  padding-top: 10px;
  width: 280px;
}

.custom-radio {
  display: flex;
}

.title {
  align-items: center;
  color: #79155b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  padding-top: 70px;
}

.title h1 {
  font-size: 1.25rem;
  letter-spacing: 1.5px;
  margin-top: 5px;
  text-transform: uppercase;
}

.img-title {
  margin: 5px;
}

.search-input {
  background-color: rgba(255, 255, 255, 0.671);
  color: var(--beige);
  display: flex;
  justify-content: center;
  padding: 0 0 15px;
  width: 100vw;
}
