.container {
  margin-bottom: 70px;
}

.input-search {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  justify-content: center;
  padding-top: 5px;
}

.radio-buttons {
  display: flex;
  padding-top: 5px;
}

.all-category-filter {
  background: none;
  border: none;
  display: flex;
  flex-direction: row;
  margin: 5px;
  margin-left: 10px;
  width: 45px;
}

.meals-drinks-container {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  margin: 10px auto;
  padding: 0 10px;
}

.recipe-card {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  color: inherit;
  display: flex;
  flex-direction: column;
  margin: 10px 5px;
  max-height: 200px;
  text-decoration: none;
  white-space: nowrap;
  width: 160px;
}

.recipe-card img {
  border-radius: 5px 5px 0 0;
  height: 140px;
  object-fit: cover;
  width: 100%;
}

.recipe-name {
  font-size: 14px;
  font-weight: 550;
  overflow: hidden;
  padding: 7px 10px;
  text-overflow: ellipsis;
}

.radio-buttons input {
  display: none;
}

.radio-buttons img {
  padding: 0 5px;
}

.recipe-img {
  width: 140px;
}
